<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lu.uni.trailassistant">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission
        android:name="package.name.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.StartScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FreeTrailActivity"
            android:label="@string/title_activity_free_trail"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PredefinedRouteActivity"
            android:label="@string/title_activity_predefined_route"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GoogleMapsDefineRouteActivity"
            android:label="@string/title_activity_google_maps_define_route"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCWiDcKALgJCq_Pnqv7H2Fh0rKqpTJJwf0" />

        <activity
            android:name=".activities.CreateNewTrainingProgramActivity"
            android:label="@string/title_activity_create_new_training_program"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
